<div class="container bd-lead">
  <div class="columns">
    <div class="column">
      <div class="section">
        <div class="description">
          ติดตั้งสายเคเบิลทองแดง เส้นหลักให้กับบริษัท ทีโอที จำกัด(มหาชน) ขนาด 2,400 คู่สาย ในอำเภอเมือง จังหวัดสงขลา
        </div>
        <div class="tags">
          <i class="far fa-handshake"></i> <label>บริษัท ทีโอที จำกัด(มหาชน)</label>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-multiline last-data">
    <div class="column is-6-desktop is-12-mobile">
      <img class="image" src="assets/images/02.jpg">
    </div>
    <div class="column is-6-desktop is-12-mobile">
      <img class="image" src="assets/images/03.jpg">
    </div>
  </div>
</div>
