<div class="container bd-lead">
  <div class="columns py-2">
    <div class="column">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a routerLink="/">หน้าแรก</a></li>
          <li><a routerLink="/portfolio">ผลงานทั้งหมด</a></li>
          <li class="is-active"><a href="#" aria-current="page">Description</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="description">
        {{portfolioInfo?.title}}<br>
        {{portfolioInfo?.description}}
      </div>
      <div class="tags">
        <i class="far fa-handshake"></i> <label>{{portfolioInfo?.customer}}</label>
      </div>
    </div>
  </div>
  <div class="columns is-multiline last-data">
    <ng-container *ngFor="let item of portfolioInfo?.files">
      <div class="column is-6-desktop is-12-mobile">
        <img class="image" [src]="baseImageUrl + item?.name">
      </div>
    </ng-container>
  </div>
</div>
