.description {
  font-size: 20px;
  padding-bottom: 8px;
  color: #363636;
  font-weight: 600;
}
.fa-handshake:before {
  font-size: 20px;
  color: #8e8e8e8e;
}
label {
  padding: 0 10px;
  font-weight: 400;
}
.image {
  width: 100%;
}
.last-data {
  margin-bottom: 30px;
}
