<div class="container bd-lead">
  <div class="columns">
    <div class="column">
      <div class="section-3 py-3">
        <div class="title-section-3">ข้อมูลบริษัท</div>
        <div class="columns is-multiline" style="padding-top: 20px;">
          <div class="column is-6-desktop is-12-mobile">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="assets/images/thongkao.png" alt="Placeholder image">
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-6-desktop is-12-mobile" style="font-size: 24px">
            <strong style="font-size: 24px; font-weight: bolder;">บริษัท ทองก้าว บริการ จำกัด</strong><br>
            ก่อตั้งขึ้นเมื่อวันที่ 28 กันยายน 2552
            จดทะเบียนเป็นบริษัทในวันที่ 4 สิงหาคม 2557
            ดำเนินงานสร้างโครงข่าย
            ให้แก่บริษัทที่ให้บริการด้านโทรคมนาคมและการสื่อสารในระดับต้นๆ ของประเทศไทย
            ด้วยประสบการณ์ และผลงานที่มีคุณภาพ เป็นที่ยอมรับในระดับภาคใต้ตลอดระยะเวลา 8 ปี
          </div>
          <div class="column is-12">
            <img src="assets/images/address.jpg" alt="Placeholder image">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
