<nav class="navbar navbar-header is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item banner" routerLink="/admin">
      <span class="banner-yellow">Thong</span>
      <span class="banner-black">kao (admin)</span>
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a routerLink="/admin/login" class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div style="margin-top: 55px;min-height: calc(100vh - 260px);">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="columns indent-padding">
    <div class="column is-4-desktop">
      <div class="products">
        <h3 class="title-footer">บริการของเรา</h3>
        <ul>
          <li>ออกแบบระบบโครงข่าย</li>
          <li>ติดตั้งระบบสื่อสาร</li>
          <li>ตรวจสอบคุณภาพและปรับปรุงระบบโครงข่ายโทรศัพท์เคลื่อนที่</li>
        </ul>
      </div>
    </div>
    <div class="column is-4-desktop">
      <div class="about">
        <h3 class="title-footer">เกี่ยวกับเรา</h3>
        <ul>
          <li>
            <a href="#">ข้อมูลบริษัท</a><br>
          </li>
          <li>
            <a href="#">ผังโครงสร้างองค์กร</a><br>
          </li>
          <li>
            <a href="#">รางวัลและเกียรติประวัติ</a><br>
          </li>
          <li>
            <a href="#">Facebook</a><br>
          </li>
        </ul>
      </div>
    </div>
    <div class="column is-4-desktop">
      <div class="company-address">
        <h3 class="title-footer">บริษัท ทองก้าว บริการ จำกัด</h3>
        248 ม.3 ถ.ราษฎรร่วมใจ ต.ควนลัง<br>
        อ.หาดใหญ่ จ.สงขลา 90110<br>
        โทรศัพท์ 089-9781365, 097-3545414<br>
        โทรสาร 074-897776<br>
        E-mail: info@thongkao.com
      </div>
    </div>
  </div>
  <div class="columns has-background-grey-dark">
    <div class="column is-12 has-text-centered color-white">
      สงวนลิขสิทธิ์ ©2020 เนื้อหาทั้งหมดบนเว็บไซต์นี้ มีขึ้นเพื่อวัตถุประสงค์ในการให้ข้อมูลเท่านั้น
    </div>
  </div>
</footer>
