<div class="container py-3">
  <div class="columns py-3 bd-lead">
    <div class="column is-3-desktop">
      <aside class="menu">
        <p class="menu-label">
          Menu
        </p>
        <ul class="menu-list">
          <li *ngIf="rules.join(',').indexOf('ADMIN') >= 0"><a routerLink="/admin/user">User</a></li>
          <li><a routerLink="/admin/portfolio">Portfolio</a></li>
        </ul>
      </aside>
    </div>
    <div class="column is-9-desktop admin-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
