<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop">
          <form [formGroup]="formLogin" class="box" (ngSubmit)="onSubmit()">
            <div class="has-text-centered lock-padding">
              Login
            </div>
            <div class="field">
              <label for="login-user" class="label">Username</label>
              <div class="control has-icons-left">
                <input id="login-user" type="text" formControlName="username" placeholder="cola999" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="login-password" class="label">Password</label>
              <div class="control has-icons-left">
                <input id="login-password" type="password" formControlName="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <span class="err-message">{{errorMessage}}</span>
            </div>
            <div class="field">
              <button type="submit" class="button is-success">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
