<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop">
          <form action="" class="box">
            <div class="has-text-centered lock-padding">
              Login
            </div>
            <div class="field">
              <label for="login-email" class="label">Email</label>
              <div class="control has-icons-left">
                <input id="login-email" type="email" placeholder="e.g. cola@gmail.com" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="login-password" class="label">Password</label>
              <div class="control has-icons-left">
                <input id="login-password" type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button routerLink="/admin/main" class="button is-success">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
