<div class="container">
  <div class="title-section navbar-menu">
    <span class="navbar-start">Portfolio</span>
    <button class="button is-black navbar-end" (click)="showModalCreate()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="table-container">
    <table class="table is-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>description</th>
        <th>customer</th>
        <th>total image</th>
        <th>edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <td>1</td>
        <td>test</td>
        <td>True</td>
        <td>4</td>
        <td><button class="button is-small is-warning"><i class="fas fa-edit"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" [ngClass]="{'is-active': isShowModalCreate}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create Portfolio</p>
      <button (click)="hiddenModalCreate()" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="field">
          <label class="label">Message</label>
          <div class="control">
            <label>
              <textarea [formControl]="massage" class="textarea" placeholder="Textarea"></textarea>
            </label>
          </div>
        </div>
        <div class="field">
          <label class="label">Images</label>
          <div *ngFor="let image of images; let i = index" [attr.data-index]="i" class="notification is-link is-light navbar-menu">
            <span class="navbar-start">{{image.name}}</span>
            <button (click)="deleteImage(i)" class="button is-small is-danger navbar-end"><i class="fas fa-minus-circle"></i></button>
          </div>
        </div>
        <div class="file has-name is-right">
          <label class="file-label">
            <input class="file-input" type="file" name="file-image" (change)="handleFileInput($event.target.files)">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
            </span>
            <span class="file-name">
              Choose a file…
            </span>
          </label>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="hiddenModalCreate()">Submit</button>
    </footer>
  </div>
</div>
