<div class="container">
  <div class="title-section navbar-menu">
    <span class="navbar-start">Portfolio</span>
    <button class="button is-black navbar-end" (click)="showModalCreate()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <div class="table-container">
    <table class="table is-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>title</th>
        <th>customer</th>
        <th>total image</th>
        <th>edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of portfolioInfoList;let i = index">
        <td>{{i + 1}}</td>
        <td>{{item?.title}}</td>
        <td>{{item?.customer}}</td>
        <td>{{item?.files?.length}}</td>
        <td><button (click)="showModalUpdate(item?.id)" class="button is-small is-warning"><i class="fas fa-edit"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-create-portfolio [isShowModalCreate]="isShowModalCreate" (save)="onSave($event)"></app-create-portfolio>
<app-update-portfolio *ngIf="id && isShowModalUpdate" [id]="id" [isShowModalUpdate]="isShowModalUpdate" (save)="onSave($event)"></app-update-portfolio>
