<div class="body-section-1">
  <div class="columns">
    <div class="column is-5-desktop detail">
      บริการให้คำปรึกษา ออกแบบ และติดตั้งระบบสื่อสารโทรคมนาคม
      โครงข่ายโทรศัพท์เคลื่อนที่ทั่วประเทศ ด้วยทีมผู้เชี่ยวชาญ
    </div>
  </div>
</div>
<div class="container bd-lead">
  <div class="columns">
    <div class="column">
      <div class="section-1">
        <div class="title">บริการของเรา</div>
        <div class="columns">
          <div class="column is-4-desktop is-12-mobile topic has-text-centered">
            <i class="fas fa-network-wired"></i>
            <div class="description">
              ออกแบบระบบโครงข่าย
            </div>
          </div>
          <div class="column is-4-desktop is-12-mobile topic has-text-centered">
            <i class="fas fa-broadcast-tower"></i>
            <div class="description">
              ติดตั้งระบบสื่อสาร
            </div>
          </div>
          <div class="column is-4-desktop is-12-mobile topic has-text-centered">
            <i class="fas fa-tools"></i>
            <div class="description">
              ตรวจสอบคุณภาพและปรับปรุงระบบโครงข่ายโทรศัพท์เคลื่อนที่
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="body-section-2">
  <div class="columns">
    <div class="column is-7-desktop detail-section-2">
      <h3 class="title-section-2">วิสัยทัศน์ของเรา</h3>
        มุ่งเน้นมาตรฐานการสร้างระบบโครงข่ายการสื่อสารให้สมบูรณ์แบบ และได้มาตรฐาน เพื่อสร้างความพึงพอใจและความเชื่อมั่นในผลสำเร็จของงานที่รับผิดชอบอย่างสูงสุด
    </div>
  </div>
</div>
<div class="container bd-lead">
  <div class="columns">
    <div class="column">
      <div class="py-3">
        <div class="title-section">ผลงานของบริษัท</div>
        <div class="columns is-multiline portfolio">
          <div *ngFor="let item of [1,2,3,4]" class="column is-3-desktop is-12-mobile">
            <app-portfolio-card></app-portfolio-card>
          </div>
        </div>
        <div class="columns">
          <div class="column is-12 has-text-right see-all-portfolio">
            <a routerLink="/portfolio" class="see-more">ดูผลงานทั้งหมด &gt;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
