.body-home-page {
  background-image: url(src/assets/images/612611-PNIVGL-888.jpg);
  background-position-y: 50%;
  width: 100%;
  min-height: calc(100vh - 44px);
  background-size: cover;
}
.detail {
  padding: 130px 40px;
  font-size: 28px;
  font-weight: bold;
  color: #231f20;
}
.section-1 {
  margin: auto;
  padding: 50px 0;
}
.title {
  font-size: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.fas {
  border: 8px solid #f59131;;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.fa-network-wired:before {
  font-size: 80px;
  color: #231f20;;
  position: relative;
  top: 18px;
}
.fa-broadcast-tower:before {
  font-size: 80px;
  color: #231f20;;
  position: relative;
  top: 28px;
}
.fa-tools:before {
  font-size: 80px;
  color: #231f20;;
  position: relative;
  top: 28px;
}

.description {
  padding-top: 25px;
  font-size: 24px;
}
