<div class="body-home-page">
  <div class="columns">
    <div class="column is-5-desktop detail">
      บริการให้คำปรึกษา ออกแบบ และติดตั้งระบบสื่อสารโทรคมนาคม
      โครงข่ายโทรศัพท์เคลื่อนที่ทั่วประเทศ ด้วยทีมผู้เชี่ยวชาญ
    </div>
  </div>
</div>
<div class="container">
  <div class="columns">
    <div class="column">
      <div class="section-1">
        <div class="title">บริการของเรา</div>
        <div class="columns">
          <div class="column is-4-desktop is-12-mobile topic has-text-centered">
            <div claas="icon">
              <i class="fas fa-network-wired"></i>
            </div>
            <div class="description">
              ออกแบบระบบโครงข่าย
            </div>
          </div>
          <div class="column is-4-desktop is-12-mobile topic has-text-centered">
            <div claas="icon">
              <i class="fas fa-broadcast-tower"></i>
            </div>
            <div class="description">
              ติดตั้งระบบสื่อสาร
            </div>
          </div>
          <div class="column is-4-desktop is-12-mobile topic has-text-centered">
            <div claas="icon">
              <i class="fas fa-tools"></i>
            </div>
            <div class="description">
              ตรวจสอบคุณภาพและปรับปรุงระบบโครงข่ายโทรศัพท์เคลื่อนที่
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
