.content-title {
  font-size: 18px;
  color: #333333;
  font-weight: 600;
}
.fa-handshake:before {
  font-size: 20px;
  color: #8e8e8e8e;;
}
.card {
  border-radius: 3px;
}
.see-more {
  color: #FF6900;
}
.see-more:hover {
  color: #3273DC;
}
.card-content {
  padding: 1rem;
}
.footer-content {
  padding-top: 10px;
  margin-top: 10px;
  background-color: transparent;
  border-top: 1px solid #ededed;
  align-items: stretch;
}
label {
  padding: 0 10px;
  font-weight: 400;
}
