<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img [src]="image" src="assets/images/mock-image.jpg" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <h3 class="content-title">
      {{portfolioInfo?.title}}
    </h3>
    <i class="far fa-handshake"></i> <label>{{portfolioInfo?.customer}}</label>
    <div class="footer-content has-text-centered">
      <a [routerLink]="'/portfolio/' + portfolioInfo.id" class="see-more">ดูเพิ่มเติม</a>
    </div>
  </div>
</div>
